body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

h1 {
  font-size: 35px;
  color: #deb887;
  margin-bottom: 0;
  text-transform: capitalize;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  font-size: 18px;
  list-style: none;
  line-height: 2;
}

li::first-letter {
  text-transform: capitalize;
}

small a {
  color: #b8860b;
}

#search-box {
  border: none;
}

#windspeed {
  text-transform: lowercase;
}

.wrapper {
  max-width: 600px;
  margin: 15px auto;
}

.app {
  background: #3e4e22;
  color: white;
  max-width: 600px;
  margin: 0 auto;
  padding: 25px;
  border-radius: 10px;
  border: 5px solid #b8860b;
}

.flex-box {
  display: flex;
}

.btn {
  background: #b8860b;
  border-color: #deb887;
  transition: all 150ms ease-in-out;
}

.btn:hover {
  background: #deb887;
  color: black;
  border-color: #b8860b;
}

.current-temperature {
  line-height: 1;
}

.current-temperature .active {
  color: white;
  cursor: default;
}

.current-temperature strong {
  font-size: 60px;
}

.units {
  position: relative;
  font-size: 18px;
  top: -26px;
}

.units a {
  text-decoration: none;
  color: #deb887;
}

.units a:hover {
  transition: all 150ms ease-in-out;
  color: white;
}
